.container-login{
    position: relative;
    width: 300px;
    height: 500px;
    top: 2vh;
    background-image: url('../../../public/login.png');
    background-position: center;
    background-size: 300px 500px;
}


.wobb-circle{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #060632;
    color: white;
    font-size: 1.7em;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;  
    top: -100px;
    left: 25px;
}


#user_email, #user_password
{
    position: relative;
    top: 140px;
    width: 75%;
    padding: 5px;
    margin: 10px 25px ;
    color: white;
    background: #060632;
   
}

.container-login i{
    position: relative;
    top:140px;
    right: 45px;
    color: white;
    display: inline;
}

input[type=email]:focus{
    background-color: #060632;
}

#login_next{
    position: relative;
    width: 70px;
    height: 30px;
    top: 165px;
    left:177px;
    font-weight: bolder;
    font-size: 16px;
    background-color: white;
    color: #060632;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

#login_txt{
    position: relative;
    top:100px;
    left:177px;
    font-size: 2em;
    font-weight: 200;
    color: white;
}

#forgot_password{
    width: 90px;
    height: 50px;
    position: relative;
    top: 140px;
    left:32px;
}

#forgot_password a{
    font-size: 0.6em;
    font-weight: 100;
    color: white;
}

.brand_logos{
    position: relative;
    top: 133px;
    left: 20px;
    z-index: 200;
}

.brand_logos a{
    margin:10px
}

.wobb{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 165px;
    right: 11px;
    color: white;
    
}

.wobb hr{
    width:50%;
    text-align:left;
    margin-left:0;
    margin-top: -12px;
    padding-top: 0;

}

.wobb .txt{
   margin-top: 5px;
    font-size: 0.7em;
    margin-bottom: 5px;
    align-self: center;
   
}

.wobb .txt a{
    text-decoration: none;
    color: aliceblue;
}

.wobb .copyright{
    font-size: 0.5em;
}