* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background: #c9c9c9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main{
  min-width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.ellipse1 {
  position: absolute;
  width: 600px;
  height: 550px;
  border-radius: 50%;
  right: -80%;
  top: -15%;
  background: #29297B;
  display: block;
  z-index: 0;
}

.ellipse2 {
  position: absolute;
  width: 500px;
  height: 450px;
 bottom: -20%;
 left: -65%;
  border-radius: 50%;
  background: #29297B;
  overflow: hidden;
  display: inline-block;
  z-index: 0;
}