* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  height: 100vh;
  background: #c9c9c9;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* body {
  background-image: url('../public/assets/righttop.png'), url('../public/assets/leftsemi.png');
  background-position: right top, left bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: 70vw 45vh, 45vw 45vh;
} */

.main{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


.ellipse1 {
  position: absolute;
  width: 600px;
  height: 550px;
  border-radius: 50%;
  right: -80%;
  top: -15%;
  background: #29297B;
  display: block;
  z-index: 0;
}
/* 
.ellipse2 {
  position: absolute;
  width: 500px;
  height: 450px;
  bottom: -9%;
  left: -65%;
  border-radius: 50%;
  background: #29297B;
  overflow: hidden;
  display: inline-block;
  z-index: 0;
} */

